// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$gray-hmp: #585563;
$green-hmp: #73937E;
$yellow-hmp: #CEB992;
$pink-hmp: #FECEE9;
$blue-hmp: #92B4F4;
