<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('bannerhome.jpg') %>);">
  <div class="container">
  <div class="banner-home">
    <h1> <strong>Home my Pet</strong> </h1>
    <p>The only way your pet will feel like home</p>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
    </div>
  </div>
</div>
