.forms-login-signup {
  margin: 20px auto;
}

.carousel {
  margin: 0 auto;
  margin-top: 30px;
}

.carousel img {
  border-radius: 5px;
}

.foto img {
  border-radius: 5px;
}

.boris-card {
  border-radius: 5px;
}
