.dropdown-navbar {
  padding: 0;
}
.dropdown-navbar ul {
  list-style-type: none;
  padding: 0px;
}
.welcome-user {
  padding: 5px;
  background-color: #F4F4F4;
  text-align: center;
}
.welcome-user p {
  margin: 0px;
}
