.container-my-reservations {
  margin: 50px 50px 80px 50px;
}

.container-show-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }


  .offercard {
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
  }

  .offercard img {
    height: 200%;
    width: 267px;
    object-fit: cover;
  }

  .offercard h2 {
    font-size: 33px;
    font-weight: bold;
    margin: 0;
  }

  .offercard p {
    font-size: 13px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .offercard .offercard-infos {
    padding: 200px;
  }
