.boris-card img {
  height: 200%;
  width: 267px;
  object-fit: cover;
}

.boris-card h2 {
  font-size: 33px;
  font-weight: bold;
  margin: 0;
}

.boris-card p {
  font-size: 13px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.boris-card .card-boris-infos {
  padding: 200px;
}



.blackdog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 25px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .blackdog-card {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .blackdog {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .blackdog {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .blackdog {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .blackdog {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.blackdog-card {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.boris-card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.boris-card img {
  height: 200%;
  width: 267px;
  object-fit: cover;
}

.boris-card h2 {
  font-size: 33px;
  font-weight: bold;
  margin: 0;
}

.boris-card p {
  font-size: 13px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.boris-card .card-boris-infos {
  padding: 200px;
}
